/* body { */
/*   padding-top: 50px; */
/* } */
/* .starter-template { */
/*   padding: 40px 15px; */
/*   text-align: center; */
/* } */

.player_container {
	width: 700px;
	height: 600px;
}

.tv_overlay {
	position: absolute;
	width: 800px;
	height: 600px;
	z-index: 30000;
	background: transparent url(../img/vintage_tv_overlay.png) no-repeat 0 0;
	background-size: 100%;
}

.videoPlayer {
	position: absolute;
	margin-top: 90px;
	margin-left: 16px;
}
